<div class="px-3 mt-3">
    <div id="noticeCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
      <div class="carousel-inner rounded-4 bg-light p-3">
        <div class="carousel-item active">
          <small class="text-muted">
            <i class="bi bi-lightning-charge-fill text-primary"></i>
            DeFi와 AI가 만나는 결정적 순간, 'KLEVA AI Day'... 제로 클릭 시대
          </small>
        </div>
        <div class="carousel-item">
          <small class="text-muted">
            <i class="bi bi-lightning-charge-fill text-primary"></i>
            SEC, 이더리움 ETF 승인 임박...시장 기대감 상승
          </small>
        </div>
      </div>
      <div class="carousel-indicators position-static mt-2">
        <button type="button" data-bs-target="#noticeCarousel" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#noticeCarousel" data-bs-slide-to="1"></button>
      </div>
    </div>
  </div>